.customselect-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;

	.customselect-list-input-item {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

	.customselect-list-input {
		margin: .9em .2em .9em .9em;
	}

	.customselect-list-label {
		cursor: pointer;
		padding: 0.5em;
		margin-bottom: 0.1em;
		border-radius: 3px;
		display: inline-block;
	}

	&.customselect-dropdown {
		background: #f1f1f1;
		border: 1px solid #e1e1e1;

		&.open {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
			border-width-top: 0;

			.customselect-list-input-item:not(.customselect-dropdown-text) {
				opacity: 1;
				height: auto;
			}
		}

		.customselect-dropdown-text {
			cursor: pointer;
			padding: 0.5em 2em 0.5em 0.5em;
			border-radius: 3px;
			display: inline-block;
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 0;

			&::after {
				content: '';
				position: absolute;
				right: 12px;
				border-top: 6px solid #999;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
			}
		}


		.customselect-list-input-item:not(.customselect-dropdown-text) {
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: all .3s linear;
		}
	}
}